


h1 {
  font-family: "Open-Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 90px;
  font-stretch: normal;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 70px;
    }
}


h2 {
  font-family: "Open-Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: white
}

a {
  font-family: "Open-Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 24px;
  font-stretch: normal;
  color: white;
  text-decoration: none;
}

a:hover {
	/* Tyopography Declarations */
	color: #00BCD4;
}


p {
  font-family: "Open-Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-weight: 200;
  font-size: 24px;
  font-stretch: normal;
  color: black;
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 16px;
    }
}



.likes-copy {
  font-family: "Gentium Book Basic", georgia, serif;
  font-weight: 200;
  font-size: 24px;
  font-stretch: normal;
  color: black;
}

.masthead {
  background-image: url('https://images.unsplash.com/photo-1427435150519-42d9bcd0aa81?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1896a40b338ccfb0d8ff7e5199e5ecd2');
  background-size: cover;
  height: 850px;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: 100%;
  background-position: center;
}



.masthead-intro {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", sans-serif;
  color: white;
  text-align: left;
  padding-left: 114px;
  padding-top: 174px;
  margin:0;
  border:0
  padding:0;
}

.scroll-cue {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 24px;
  color: white;
  font-stretch: normal;
  text-align: center;
  padding-top: 400px;
}

@media only screen and (max-width: 500px) {
   .scroll-cue {
        margin-top:-35px;
    }
}


.down-arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -70px;
}


@media only screen and (max-width: 500px) {
   .down-arrow {
        margin-top:-35px;
    }
}


.location h1 {
  clear: both;

}

@media only screen and (max-width: 500px) {
   .location h1 {
        width: 90%;
        font-size:40px;
        padding:1em;
        margin:auto;
    }
}


.livework {
  position: relative;
  text-align: left;
  margin-right: 400px;
}

.location {
  padding-left: 20px;
  height
}

.nyc {
  width: 500px;
  height: 500px;
  float: left;
  margin: 1em;
  margin-left: 150px;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 100px;
}

 @media only screen and (max-width: 500px) {
   .nyc {
        width: 300px;
        height:300px;
        margin-left:2em;
        margin-right:3em;
        margin-top:-2em;
        padding:1em;
        float:none;
    }
  }


.about-me {
  text-align: left;
  border: solid;
  float: right;
  border-width: 2px;
  width: 600px;
  margin: 1em;
  margin-top: 100px;
  margin-right: 150px;
  line-height: 190%;
  padding: 3em;
  margin-bottom: 100px;
}

     @media only screen and (max-width: 500px) {
   .about-me {
        width: 80%;
        height: auto;
        margin-left: 1em;
        margin-right: 1em;
        margin-top:-6em;
        line-height:150%;
        padding:1em;
        text-align:center;
        border-width: 2px;
    }
  }


.likes {
  margin-top: 300px;
  margin-bottom: 100px;
  clear: both;
  width: 100%;
  height: 850px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 500px) {
   .likes {
        width: 100%;
        height:auto;
        margin:1em;
    }
  }

.likes h1 {
  clear:both;
  padding-top: 80px;
  padding-left: 114px;
  text-align: left;
}

  @media only screen and (max-width: 500px) {
   .likes h1 {
        width: 90%;
        font-size:40px;
        padding:1em;
        margin:auto;
    }
  }

.likes ul li {
  display: inline-block;
  text-align: center;
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", sans-serif;
  width: 33%;
  font-weight: 200;
  font-weight: 200;
  font-size: 24px;
  font-stretch: normal;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

@media only screen and (max-width: 500px) {
   .likes ul li {
        width:26%;
        padding-top:0;
        margin-top:0;
    }
  }

.likes img {
  width: 450px;
  height: 450px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin-top: 80px;
}

.likes-imgs ul li {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.likes-rnd-img {
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 100%
}

@media only screen and (max-width: 500px) {
   .likes-rnd-img {
        max-width: 80%;
        max-height:110px;
        border-radius:100%;
        margin-top:-4em;
        padding-top:0;
        margin-left:auto;
        margin-right:auto;
    }
  }

.footer {
  text-align: center;
  background: black;
  height: 200px;
}

.links {
  padding: 1em;
}

.end {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin:0;
  padding:0;
}